.result {
    margin-top: 10px;
    width: 100%;
    background-color: rgb(114, 113, 113);
    text-align: center;
    border: 2px solid #212529;
    border-radius: 10px;
    letter-spacing: 1px;
}

.result__text {
    display: inline-block;
    padding: 0 0 10px;
}