html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  color: #212529;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  font-weight: bold;
}